{
  "openapi": "3.0.1",
  "info": {
    "title": "OpenAPI Plant Store",
    "description": "A sample API that uses a plant store as an example to demonstrate features in the OpenAPI specification",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "http://sandbox.mintlify.com"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/plants": {
      "get": {
        "description": "Returns all plants from the system that the user has access to",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of results to return",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Plant response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Plant"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "description": "Enviar mensagem para um contato no WhatsApp",
        "requestBody": {
          "description": "Metódo para enviar uma mensagem para um número do WhatsApp pelo Sacflow",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Message"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "plant response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NewMessage"
                }
              }
            }
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/plants/{id}": {
      "delete": {
        "description": "Deletes a single plant based on the ID supplied",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of plant to delete",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Plant deleted",
            "content": {}
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
        "Message": {
        "required": ["from", "accountId", "whatsappId", "message", "contact"],
        "type": "object",
        "properties": {
          "from": {
            "description": "The name of the plant",
            "type": "string"
          },
          "accountId": {
            "description": "The name of the plant",
            "format": "int32"
          },
          "whatsappId": {
            "description": "The name of the plant",
            "format": "int32"
          },
          "message": {
            "description": "The name of the plant",
            "type": "string"
          },
          "contact": {
            "description": "The name of the plant",
            "type": "object",
            "properties": {
              "name": {
                "description": "The name of the plant",
                "type": "string"
              },
              "phone": {
                "description": "The name of the plant",
                "type": "string"
              }
            }
          },
          "isPrivate": {
            "description": "The name of the plant",
            "type": "boolean"
          },
          "messageTimeout": {
            "description": "The name of the plant",
            "format": "int32"
          }
        }
      },
      "NewMessage": {
        "required": ["message"],
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "default": "message added to queue"
          }
        }
      },
      "Error": {
        "required": [
          "error",
          "message"
        ],
        "type": "object",
        "properties": {
          "error": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}